.rounded {
  margin: 0 5px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
  height: 21px;
  width: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  .img {
    height: 15px;
  }
}