.tabs {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;

  .tabsHeader {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0 20px;
    .tab {
      padding: 10px 10px;
      color: rgba(0,0,0,0.3);
      font-size: small;
      font-weight: 600;
      &.active {
        border-bottom: 1px solid blue;
        color: black;
      }
    }
  }
  .tabBody {
    background:rgba(236,239,241,0.4);
    height: -webkit-fill-available;
  }
}