.contextMenu {
  position: absolute;
  top: 0;
  left: 0;
  background:whitesmoke;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .item {
    border-top: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
    &:first-child {
      border-top: none;

    }
  }
  &:focus {
    outline: none;

  }
}