.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100%;
  padding-top: 20px;
  .row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    font-weight: 600;
    font-size: small;
    padding: 20px;
    &.noPadding {
      padding: 10px 0;
      height: 20px;
    }
    .buttonGroup {
      display: flex;
      justify-content: space-between;
    }
  }
  .caption {
    display: flex;
    font-size: 0.6rem;
    align-items: center;
    color: green;
    opacity: 0.6;
    padding-left:17px;
  }
  .label {
    font-size: 0.5rem;
    color: green;
    text-transform: uppercase;
    padding-left:20px;
  }
  .directButton {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    font-size: 0.6rem;
    text-transform: uppercase;
    border-radius: 20px;
    color: rgba(0,0,0,0.5);
  }
  .approveButton {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #673ab7;
    color: whitesmoke;
    border-radius: 3px;
    margin: 5px;
  }

}



