.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.4);
  padding: 10px;
  color: rgba(0,0,0,0.6);
  margin: 5px;
  flex: 1;

  .text {
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
  }
  .rounded {
    border-radius: 5px;
  }
  .img {
    height: 10px;
    padding: 0 5px;
  }
  &:hover {
    cursor: pointer;
  }
  &.main {
    background:#1565c0;
    color: whitesmoke;
  }

}