.container {
  display: flex;
  flex-direction: column;
  height: -webkit-flex-available;
  justify-content: space-around;
  background: rgba(236,239,241, 0.2);
  padding: 10px 0;
  .header {
    font-size: 1.1rem;
    text-transform: capitalize;
    padding-left: 10px;
  }
  .card {
    border: 3px solid rgba(236,239,241, 1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 20px 10px;
    padding: 20px;
    display: flex;
    justify-content: left;
    .dateTime {
      display: flex;
      flex-direction: column;
      flex:1;
      .heading {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9rem;
      }
      .time {
        color:rgba(0,0,0,0.5);
      }
    }

    .action {
      display: flex;
      flex:1;
      font-size:0.8rem;
      margin-left:10px;
      .actionFlag {
        display: flex;
        align-items: center;
        margin-right:10px;
        .indic {
          height: 20px;
            width: 20px;
            border-radius: 50%;
          &.take_action {
            background: red;
          }
          &.passed {
            background: green;
          }
        }

      }
      .actionDesc {
        display: flex;
        flex-direction: column;
        .user {
          font-size: 0.8rem;

        }
        .desc {
          font-size: 0.8rem;
        }
      }
    }
  }
}