.table {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    border-top: 1px solid rgba(0,0,0,0.1);
    height: 40px;
    .rowItem {
      display: flex;
      flex:1;
      max-width: 1;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      color: rgba(0,0,0,0.7)
    }
    &.header {
      font-size: 0.9rem;
      font-weight: 600;
      padding-top: 10px;
      border-top: none;
    }
  }
}