.label {
  display: flex;
  flex-direction: column;
  flex:1;
  &.horizontal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .name {
    font-size: 0.6rem;
    color: rgba(0,0,0,0.5);
    padding:10px 0;
    text-transform: uppercase;
  }
  .value {
    font-size: 0.8rem;
    padding:10px 0;
  }
}


.summaryView {
  display: flex;
  flex-direction: column;
  padding: 20px;
  .row {
    border-top: 1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      border-top: 1px solid rgba(0,0,0,0.2);
    }
  }

  .col {
    display: flex;
    flex-direction: column;
    flex:1;
  }
}