.app {
  display: flex;
  height: 100%;
  width: 100%;
  .placeholder {
    height:100%;
    width: 100%;
    background: #90a4ae;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
  }
}